<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edible Mushroom</title>
  </head>
  <style>
    html,
    body {
      height: 100%;
      width: 100%;
    }
    body {
      background-position: center;
      background-image: url(static/img/TypesOfMushrooms.jpg);
      background-size: contain;
      background-size: auto 98%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      background-repeat: repeat;
    }

    h1 {
      margin-top: 40px;
      text-align: center;
    }
  </style>
  <body>
    <h1 style="background-color: blue">
      It might not be poisonous, but don't trust me. Don't eat it unless you get
      it tested and it comes out as not poisonous.
    </h1>
  </body>
</html>
