<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Unknown Mushroom</title>
    <style>
      html,
      body {
        height: 100%;
        width: 100%;
      }
      body {
        background-position: center;
        background-image: url(static/img/TypesOfMushrooms.jpg);
        background-size: contain;
        background-size: auto 98%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        background-repeat: repeat;
      }

      h1 {
        margin-top: 40px;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h1 style="background-color: burlywood">
      I don't think a mushroom like that exists unless it is an unknown species.
    </h1>
  </body>
</html>
